
h5{
  text-align: center;
  font-size: medium;
}
li{
  text-align: center;
  font-size: small;
}
/*Modificación carrusel*/
.carousel,
.carousel-inner {
  width: 270px;
  height: 215px;
  margin: auto;
}

.marcas {
  padding-top: 45px;
  width: 60px;
  height: 190px;
}

.carousel-inner {
  height: 210px;
}